.toggle-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 5px;
  }
  
  .toggle-switch {
    width: 60px;
    height: 30px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    position: relative;
    transition: background-color 0.3s;
  }
  
  .toggle-circle {
    width: 20px;
    height: 20px;
    background-color: rgba(9, 75, 128, 0.993);
    border-radius: 2px;
    position: absolute;
    top: 6px;
    left: 6px;
    transition: transform 0.3s;
  }
  
  .toggle-circle.on {
    transform: translateX(30px);
  }
  
  .toggle-switch.on::after{
    content: 'OFF';
    position: absolute;
    width: 10px;
    font-size: 14px;
    left: 10px;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
  }
  
  .toggle-switch.off::after{
    content: 'ON';
    position: absolute;
    width: 10px;
    font-size: 14px;
    right: 14px;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  font-weight: bolder;
  }
  
  .toggle-label {
    margin-left: 10px;
    font-size: 16px;
  }